input[type="text"] {
    padding: 10px;
}

button {
    padding: 10px 30px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

.app {
    background-color: darkblue;
}

#root {
    background-color: darkblue;
    height: 100vh;
}

.week {
    height: 80vh;
    width: 70vw;
    margin: auto;
    background-color: white;
}

.addButtonStyle {
    font-size: '20px';
    background-color: 'blue';
    color: 'white';
    border: 'none';
    padding: '10px 20px';
    cursor: 'pointer';
}
