/* CurrentWeather.css */

.current-weather {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgba(171, 178, 219, 0.7); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(145, 98, 98, 0.5);
    max-width: 75%; /* Cover 75% of the screen width */
    margin: 0 auto; /* Center align the component */
    color: #fff; /* Text color */
    transition: background-color 0.5s; /* Smooth background color transition */
    position: relative; 
}


/* Styles for the weather information */
h2 {
    font-size: 32px;
    margin-bottom: 20px;
}



p {
    font-size: 25px;
    margin: 10px 5px;
}



/* Apply styles to the error message within the .current-weather container */
.current-weather .error {
    color: #ff0000;
    margin-top: 10px;
    font-weight: bold;
}


/* Add background images for different weather conditions */
.clear-sky {
    background-image: url('/src/components/JPEGS/clear skies.png'); 
}
.rainy {
    background-image: url('/src/components/JPEGS/rainy.png'); 
}
.cloudy {
    background-image: url('/src/components/JPEGS/cloudy day.png');
}
.snowy {
    background-image: url('/src/components/JPEGS/snow.png'); 
}
.thunderstorm {
    background-image: url('/src/components/JPEGS/day thunderstorm.png'); 
}
.night {
    background-image: url('/src/components/JPEGS/night time.png'); 
}
.night-cloudy {
    background-image: url('/src/components/JPEGS/night cloudy.png'); 
}
.night-thunderstorm {
    background-image: url('/src/components/JPEGS/night thunderstorm.png'); 
}
.night-time {
    background-image: url('/src/components/JPEGS/night time.png'); 
}
.rainy-night {
    background-image: url('/src/components/JPEGS/rainy night.png'); 
}
.rainy-day {
    background-image: url('/src/components/JPEGS/rainy day.png'); 
}
