
/* Navigation bar container */
nav {
    background-image: linear-gradient(to right, rgb(3, 96, 172), rgb(1, 48, 124));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; 
    z-index: 1; /* Lower z-index value */
}



/* Navigation links */
#weather, #weekly, #hourly, #monthly {
    color: white;
    text-decoration: none; 
    margin: 0 15px; 
    font-weight: bold; /* Make the font bold */
    font-size: 20px; /* Increase the font size */
}



/* Logo text */
#logo {
    color: white;
    font-size: 24px; /* Increase the font size for the logo */
}



/* Style for active link */
.active {
    background-color: white;
    color: rgb(3, 96, 172); /* Use the primary color for the active link */
    border-radius: 5px; /* Add rounded corners to the active link */
    padding: 5px 10px; /* Add padding to make it stand out */
}




/* Hover effect for links */
#weather:hover, #weekly:hover, #hourly:hover, #monthly:hover {
    background-color: rgba(1, 192, 250, 0.2); /* Add a subtle background on hover before click*/
    border-radius: 5px; /* Add rounded corners on hover */
    transition: background-color 0.3s ease-in-out; /* Smooth transition on hover */
}
